.button {
	border: none;
	border-radius: 99px;
	cursor: pointer;
	font-size: 1em;
	font-weight: 500;
	line-height: 1;
	padding: 16px 24px;
	user-select: none;
}

.button[disabled] {
	cursor: default;
}

.primary-button {
	background-color: var(--primary-active-bg-color);
	color: var(--primary-active-text-color);
}

.primary-button[disabled] {
	background-color: var(--primary-inactive-bg-color);
	color: var(--primary-inactive-text-color);
}

.secondary-button {
	color: var(--secondary-active-text-color);
}

.secondary-button[disabled] {
	color: var(--secondary-inactive-text-color);
}
