.info-box {
	color: var(--info-box-text);
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.info-box-main {
	display: flex;
}

.info-box-buttons {
	display: flex;
	margin: 0 auto;
}

.info-box-main,
.info-box-buttons {
	gap: 16px;
}

@media (max-width: 480px) {
	.info-box-main {
		flex-direction: column;
	}

	.info-box-main {
		gap: 12px;
	}
}

.info-box-url {
	border-radius: 99px;
	border: 1px solid var(--border-color);
	color: var(--secondary-text-color);
	flex: 1;
	padding: 16px 24px;
	width: 100%;
}
