.note-edit-field {
	display: flex;
	flex-direction: column;
	gap: 24px;
	min-block-size: 100vh;
	tab-size: 4;
}

.note-edit-field-start,
.note-edit-field-end {
	flex: 1;
	inline-size: 0;
}

.note-edit-field-start {
	@media print {
		display: none;
	}
}

.note-edit-field-end {
	inline-size: 0;
	line-height: 1.5;
}

@media (min-width: 769px) {
	.note-edit-field {
		flex-direction: row;
	}
}

@media (max-width: 768px) {
	.note-edit-field-start,
	.note-edit-field-end {
		inline-size: 100%;
		min-block-size: 50vh;
	}
}
