.note-list > ul {
	padding: 0;
	margin: 0;
	list-style: none;
	border-block-end: 1px solid var(--md-sys-color-outline-variant);
}

.note-list-item {
	display: flex;
	inline-size: 100%;
	padding: 8px;
	border-block-start: 1px solid var(--md-sys-color-outline-variant);
	border-block-end: 0;
}

.note-list-item--selected {
	background: var(--md-sys-color-primary-container);
}

.note-list-item-checkbox {
	display: flex;
	padding: 8px;
	cursor: pointer;

	@media print {
		display: none;
	}
}

.note-list-item-content {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 8px;
	padding: 8px;
	text-align: unset;
	cursor: pointer;
}

.note-list-item-title {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	font-weight: 500;
	line-height: 1.5;
}

.note-list-no-saved-notes-indicator {
	margin: 18px 0;
	font-size: calc(1rem * 18 / 16);
	text-align: center;
}
