.note-edit-field {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 24px;
	tab-size: 4;
}

.note-edit-field-start,
.note-edit-field-end {
	flex: 1;
	width: 0;
}

.note-edit-field-start {
	@media print {
		display: none;
	}
}

.note-edit-field-end {
	border-radius: 16px;
	color: var(--md-sys-color-on-surface);
	line-height: 1.5;
	width: 0;
}

@media (min-width: 769px) {
	.note-edit-field {
		flex-direction: row;
	}
}

@media (max-width: 768px) {
	.note-edit-field-start,
	.note-edit-field-end {
		width: 100%;
		min-height: 50vh;
	}
}
