.note-input-field {
	border-radius: 16px;
	line-height: 1.5;
	border: 1px solid var(--md-sys-color-outline-variant);
	field-sizing: content;
	inline-size: 100%;
	block-size: 100%;
	padding: 24px;
	resize: none;
	font-family: "Roboto Mono", monospace;
	font-size: calc(1rem * 14 / 16);

	@media (max-width: 768px) {
		min-block-size: 50vh;
	}
}

.note-input-field:focus {
	outline: 0;
}

.note-input-field::placeholder {
	font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 1rem;
}
