.note-preview-field {
	margin: 24px;

	@media (max-width: 768px) {
		margin: 16px;
	}

	@media print {
		margin: 16px 0;
	}
}

.note-preview-field > *:first-child {
	margin-block-start: 0;
}

.note-preview-field > ol,
.note-preview-field > ul {
	margin: 0 0 16px;
}

.note-preview-field ol,
.note-preview-field ul {
	padding-inline-start: 28px;
}

.note-preview-field a {
	color: var(--md-sys-color-primary);
	text-decoration: none;
}

.note-preview-field a:hover {
	text-decoration: underline;
}

.note-preview-field hr,
.note-preview-field p,
.note-preview-field pre,
.note-preview-field table {
	margin: 0 0 16px;
}

.note-preview-field .katex-display {
	margin: 0 0 16px;
}

.note-preview-field h1,
.note-preview-field h2,
.note-preview-field h3,
.note-preview-field h4,
.note-preview-field h5,
.note-preview-field h6 {
	margin: 24px 0 16px;
	line-height: 1.25;
}

.note-preview-field hr {
	margin: 8px 0;
	border-block-start: 1px solid var(--md-sys-color-outline-variant);
	border-block-end: 0;
}

.note-preview-field h1 {
	font-size: calc(1rem * 28 / 16);
}

.note-preview-field h2 {
	font-size: calc(1rem * 24 / 16);
}

.note-preview-field h3 {
	font-size: calc(1rem * 20 / 16);
}

.note-preview-field h4,
.note-preview-field h5,
.note-preview-field h6 {
	font-size: 1rem;
}

.note-preview-field li {
	margin: 4px 0;
}

.note-preview-field code {
	padding: 1px 6px;
	font-family: "Roboto Mono", monospace;
	background-color: var(--md-sys-color-surface-container);
	border-radius: 6px;
}

.note-preview-field pre {
	font-size: calc(1rem * 14 / 16);
}

.note-preview-field-code-block {
	margin: 0 !important;
	font-family: "Roboto Mono", monospace !important;
	border-radius: 8px !important;
}

.note-preview-field pre:not(:has([class^="language-"])) {
	padding: 14px;
	overflow-x: auto;
	background-color: var(--md-sys-color-surface-container);
	border-radius: 8px;
}

.note-preview-field pre code {
	padding: 0;
	border-radius: 0;
}

.note-preview-field blockquote {
	padding-inline-start: 40px;
	margin: 1em 0;
}

.note-preview-field table {
	display: inline-block;
	max-inline-size: 100%;
	overflow-x: scroll;
	font-size: calc(1rem * 14 / 16);
	background-color: var(--md-sys-color-surface-container);
	border-radius: 8px;
}

.note-preview-field th,
.note-preview-field td {
	padding: 8px 12px;
	vertical-align: top;
}

.note-preview-field th {
	font-weight: unset;
	color: inherit;
	text-align: unset;
	background-color: inherit;
}

.note-preview-field img {
	max-inline-size: 100%;
}
