.note-status {
	font-size: calc(1rem * 12 / 16);
	color: var(--md-sys-color-on-surface-variant);
}

.note-status-list {
	height: 1em;
	padding: 0;
	margin: 0 -6px;
	line-height: 1;
	list-style-type: none;
}

.note-status-list li {
	position: relative;
	display: inline-block;
	padding: 0 6px;
}

.note-status-list li:not(:first-child)::before {
	position: absolute;
	top: 50%;
	left: -0.5em;
	content: "・";
	transform: translateY(-50%);
}
