.qr-code-view {
	text-align: center;
}

.qr-code-view summary {
	color: var(--secondary-text-color);
}

.qr-code-view img {
	max-width: 100%;
	margin-top: 16px;
}

.qr-code-view--busy img {
	opacity: 0.25;
}
