.settings-panel {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	flex-direction: column;
	gap: 24px;

	@media print {
		display: none;
	}
}

.locale-selector {
	align-items: center;
	display: flex;
	gap: 12px;
	margin-bottom: 0;
	text-align: left;
}

.locale-selector label {
	color: var(--secondary-text-color);
	font-weight: 600;
}

.locale-selector select {
	border: 1px solid var(--border-color);
	border-radius: 99px;
	color: var(--secondary-text-color);
	cursor: pointer;
	padding: 12px 18px;
}

.theme-toggle {
	align-items: center;
	display: flex;
	gap: 12px;
	text-align: right;
}

.theme-text {
	color: var(--secondary-text-color);
	font-weight: 600;
}

@media (max-width: 768px) {
	.locale-selector,
	.theme-toggle {
		justify-content: center;
	}
}
