.tab {
	margin: 0 -24px;

	@media print {
		display: none;
	}
}

.tab-list {
	display: flex;
	padding: 0;
	margin: 0;
	overflow-x: scroll;
	-ms-overflow-style: none;
	vertical-align: middle;
	white-space: nowrap;
	list-style: none;
	scrollbar-width: none;
}

.tab-list::-webkit-scrollbar {
	display: none;
}

.tab-list > li {
	margin-inline-end: 16px;
}

.tab-list > li:first-child {
	margin-inline-start: 24px;
}

.tab-list > li:last-child {
	margin-inline-end: 24px;
}

.tab-item-title,
.tab-item-description {
	overflow: hidden;
	text-overflow: ellipsis;
}

.tab-status .tab-item-title,
.tab-status .tab-item-description {
	min-inline-size: min(50vw, 240px);
	max-inline-size: min(50vw, 320px);
}

.tab-action-with-no-label {
	display: flex;
}

.tab-status .tab-item-container,
.tab-action-with-label .tab-item-container {
	display: flex;
	gap: 16px;
	padding: 0 16px;
	text-align: unset;
	border-radius: 8px;
}

.tab-status .tab-item-container {
	background: var(--md-sys-color-surface-container);
	border: 1px solid var(--md-sys-color-surface-container);
}

.tab-action-with-label .tab-item-container {
	border: 1px solid var(--md-sys-color-outline-variant);
}

.tab-item-icon,
.tab-item-content {
	margin: 12px 0;
}

.tab-item-button {
	display: flex;
	margin: 0 -16px;
}

.tab-action .tab-item-container {
	cursor: pointer;
}

.tab-item-icon {
	display: flex;
	flex-direction: column;
	inline-size: 36px;
	block-size: 36px;
}

.tab-action-with-label .tab-item-icon {
	background: var(--md-sys-color-surface-container);
	border-radius: 99px;
}

.tab-item-icon svg,
.tab-item-icon img {
	flex: 1;
	inline-size: 100%;
	block-size: 100%;
	object-fit: cover;
}

.tab-item-icon svg {
	box-sizing: border-box;
	padding: 8px;
	margin: 0 auto;
	color: var(--md-sys-color-on-surface-variant);
}

.tab-item-icon img {
	border-radius: 99px;
}

.tab-item-content {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 8px;
}

.tab-item-title,
.tab-item-status {
	block-size: 1em;
	line-height: 1;
}

.tab-item-title {
	font-weight: 500;
}

.tab-item-status {
	font-size: calc(1rem * 12 / 16);
	color: var(--md-sys-color-on-surface-variant);
}
