:root {
	--font-family-default:
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	--font-family-textarea:
		Consolas, "Menlo", "Droid Sans Mono", "Courier New", monospace;
}

body.dark-mode {
	--bg-color: #1b1c1d;
	--border-color: #4a5050;
	--code-bg-color: #333537;
	--code-text-color: #a2a9b0;
	--primary-active-bg-color: #a8c7fa;
	--primary-active-text-color: #062e6f;
	--primary-inactive-bg-color: #333434;
	--primary-inactive-text-color: #767676;
	--primary-text-color: #fff;
	--secondary-text-color: #a2a9b0;
	--secondary-active-text-color: var(--primary-active-bg-color);
	--secondary-inactive-text-color: var(--primary-inactive-text-color);
}

body.light-mode {
	--bg-color: #f0f2f5;
	--border-color: #c4c7c5;
	--code-bg-color: #e9eef6;
	--code-text-color: #575b5f;
	--primary-active-bg-color: #0b57d0;
	--primary-active-text-color: #fff;
	--primary-inactive-bg-color: #e3e3e3;
	--primary-inactive-text-color: #979798;
	--primary-text-color: #1b1c1d;
	--secondary-text-color: #575b5f;
	--secondary-active-text-color: var(--primary-active-bg-color);
	--secondary-inactive-text-color: var(--primary-inactive-text-color);
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: var(--bg-color);
	box-sizing: border-box;
	color: var(--primary-text-color);
	display: block;
	font-family:
		"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	margin: 0;
	min-height: 100vh;
	padding: 24px;
}

* {
	overflow-wrap: break-word;
}

button {
	padding: 0;
	border: 0;
	background: inherit;
	color: inherit;
}

input,
select,
textarea {
	background: transparent;
}

input:focus,
select:focus,
textarea:focus,
summary:focus {
	outline: 1px solid var(--primary-active-bg-color);
}

.text-button {
	text-decoration: underline;
	cursor: pointer;
}

.text-button:hover {
	text-decoration: none;
}

summary {
	cursor: pointer;
}

.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.main {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 48px;
}

.main-section {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 760px;
	width: 100%;
}

.button-group {
	display: flex;
	gap: 24px;
	justify-content: center;
}

.info-box {
	border-radius: 16px;
	color: var(--info-box-text);
	font-size: 0.95em;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.info-box-main {
	display: flex;
	gap: 12px;
}

.info-box-url {
	border-radius: 99px;
	border: 1px solid var(--border-color);
	color: var(--secondary-text-color);
	font-size: inherit;
	flex-grow: 1;
	padding: 0 24px;
	width: 0;
	line-height: inherit;
}

.settings-panel {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	flex-direction: column;
	gap: 24px;
}

.locale-selector {
	align-items: center;
	display: flex;
	gap: 12px;
	margin-bottom: 0;
	text-align: left;
}

.locale-selector label {
	color: var(--secondary-text-color);
	font-weight: 600;
}

.locale-selector select {
	border: 1px solid var(--border-color);
	border-radius: 99px;
	color: var(--secondary-text-color);
	cursor: pointer;
	font-size: 0.95em;
	padding: 12px 18px;
}

.theme-toggle {
	align-items: center;
	display: flex;
	gap: 12px;
	margin-bottom: 0;
	text-align: right;
}

.theme-text {
	color: var(--secondary-text-color);
	font-weight: 600;
}

@media (max-width: 768px) {
	.locale-selector,
	.theme-toggle {
		justify-content: center;
	}
}
